@model NavigationBarModel
@functions {
    private string NavigationBarClassName => Model.KeepExpanded ? "keep-expanded" : null;

    private string ItemClassName(string itemName)
    {
        if (ViewBag.PageName == itemName)
        {
            return "selected";
        }
        return null;
    }
}

<ul class="w-100" id="navbar" class='@NavigationBarClassName'>
    <li class='@ItemClassName("dashboard")'>
        <a href="/home">
            <i class="bi bi-house"></i>
            <span>Trang chủ</span>
        </a>
    </li>
    <li class='@ItemClassName("orders")'>
        <a href="/orders">
            <i class="bi bi-cart4"></i>
            <span>Đơn hàng</span>
        </a>
    </li>
    <li class='@ItemClassName("stock")'>
        <a href="/home">
            <i class="bi bi-archive"></i>
            <span>Kho hàng</span>
        </a>
    </li>
    <li class='@ItemClassName("supply")'>
        <a href="/home">
            <i class="bi bi-truck"></i>
            <span>Nhập hàng</span>
        </a>
    </li>
    <li class='@ItemClassName("products")'>
        <a href="/home">
            <i class="bi bi-box-seam"></i>
            <span>Sản phẩm</span>
        </a>
    </li>
    <li class='@ItemClassName("customers")'>
        <a href="/CustomerList">
            <i class="bi bi-person-circle"></i>
            <span>Khách hàng</span>
        </a>
    </li>
    <li class='@ItemClassName("treatments")'>
        <a href="/home">
            <i class="bi bi-magic"></i>
            <span>Liệu trình</span>
        </a>
    </li>
    <li class='@ItemClassName("finance")'>
        <a href="/home">
            <i class="bi bi-cash-coin"></i>
            <span>Tài chính</span>
        </a>
    </li>
    <li class='@ItemClassName("users")'>
        <a asp-action="UserList" asp-controller="User">
            <i class="bi bi-person-badge"></i>
            <span>@DisplayNames.User</span>
        </a>
    </li>
</ul>