@model NotificationListModel
@{
    <div class="dropdown" id="notification">
        <button class="btn btn-lg text-primary border-0 p-0 fs-4"
                type="button"
                data-bs-toggle="dropdown" aria-expanded="false">
            @if (Model.Items.Any())
            { 
                <i class="bi bi-bell-fill">
                    <small class="badge rounded-circle notification-dot bg-danger"></small>
                </i>
            }
            else
            { 
                <i class="bi bi-bell"></i>
            }
        </button>
        <div class="dropdown-menu dropdown-menu-end border border-primary-subtle overflow-hidden p-0 shadow">
            <ul class="list-group list-group-flush">
                <li class="list-group-item p-2 ps-3 d-flex justify-content-between">
                    <span class="text-primary fw-bold">Thông báo</span>
                    @if (Model.Items.Any(n => !n.IsRead))
                    {
                        <span class="badge bg-success-subtle text-success d-flex align-items-center">
                            Chưa đọc: @(Model.Items.Count(n => !n.IsRead))
                        </span>
                    }
                    else
                    {
                        <div class="badge bg-secondary-subtle text-secondary d-flex align-items-center">
                            Đã đọc
                        </div>
                    }
                </li>
                @foreach (NotificationModel notification in Model.Items)
                {
                    <li class='list-group-item d-flex flex-row align-items-center px-3 py-2 notification-item
                            @(!notification.IsRead ? "bg-success bg-opacity-10 text-success-emphasis" : null)'>
                        <div class='notification-icon-container d-flex h-100 justify-content-center align-items-center
                                @(!notification.IsRead ? "bg-success text-white" : "bg-secondary-subtle text-secondary")'>
                            <i class="bi bi-cart-plus"></i>
                        </div>
                        <div class="d-flex flex-column flex-fill detail ms-3">
                            <span class="fw-bold">@notification.Content</span>
                            <span class="opacity-50">@notification.EmittedDeltaText</span>
                        </div>
                    </li>
                }
                <li class="list-group-item p-2 align-middle text-center">
                    <a>Xem tất cả thông báo</a>
                </li>
            </ul>
        </div>
    </div>
}